<form class="row g-3">
    <div class="form-floating col-md-6">
        <input type="text" class="form-control" id="floatingInput" placeholder="Giorgi">
        <label for="floatingInput" style="margin-left:10px">სახელი</label>
    </div>
    <div class="form-floating col-md-6">
        <input type="text" class="form-control" id="FloatingGvari" placeholder="GARIANTISHVILIO">
        <label for="FloatingGvari" style="margin-left:10px">გვარი</label>
    </div>
    <div class="form-floating col-12">
        <input type="text" class="form-control" id="FloatingTelefoni" placeholder="99559559595">
        <label for="FloatingTelefoni" style="margin-left:10px">ტელეფონი</label>
    </div>
    <div class="form-floating col-12">
        <input type="email" class="form-control" id="Floatinggmail" placeholder="name@example.com">
        <label for="Floatinggmail" style="margin-left:10px">ელ-ფოსტა</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="დატოვე შეტყობინება" id="floatingShetyobineba" style="height: 100px"></textarea>
        <label for="floatingShetyobineba">შეტყობინება</label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success" type="submit">დაკონტაქტება</button>
    </div>
</form>