html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.s {
    width: 80px;
    height: 50px;
    margin-right: 5px;
    margin-left: 3px;
    font-size: 15px
}
.search {
    margin-right: 3px;
    width: 280px;
    height: 50px
}
.block {
    margin-left: 40px;
    margin-top: 20px;
    width: 430px;
    height: 295px
}
.hh5 {
    background: none;
    border: none;
    color: #17B169
}
    .hh5:hover {
        transition: linear;
        transition-duration: 0.2s;
        color: #00563B;
    }
.btn-primary {
    border: none;
    color: black;
    background-color: white;
}
.btn-secondary {
    border: none;
    color: #546E7A;
    background-color: white;
}
.btn-lg:hover {
    background-color: red;
}
.oa:hover {
    background-color: forestgreen;
}

.ta:hover {
    background-color: rebeccapurple;
}
.ka:hover {
    background-color: orange;
}
.fa:hover {
    background-color:deepskyblue;
}